@page
@model DSV.Pages.CalenderPageModel
@{
}
@Model.Whiteboard
@Model.Projector
@Model.Capacity

<form method="post" asp-page-handler="Filter">
    <input type="checkbox" asp-for="Whiteboard" name="Whiteboard" value="true" />
    <label>Whiteboard</label>
    <input type="checkbox" asp-for="Projector" name="Projector" value="true" />
    <label>Projector</label>
    <input type="number" asp-for="Capacity" name="Capacity" value="0"/>
    <input type="submit" value="submit"/>
</form>

@if (Model.Projector || Model.Whiteboard || Model.Capacity > 0) 
{


@for (int j = 0; j < @Model.FilteredRooms.Count; j++)
{
    <h1>@Model.FilteredRooms[j].RoomName</h1>
    <div class="container">

        <div class="table-responsive">
            <table class="table table-bordered text-center">
                <thead>
                    <tr class="bg-light-gray">
                        <th class="text-uppercase">
                            Time
                        </th>
                        <th class="text-uppercase">Monday</th>
                        <th class="text-uppercase">Tuesday</th>
                        <th class="text-uppercase">Wednesday</th>
                        <th class="text-uppercase">Thursday</th>
                        <th class="text-uppercase">Friday</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int l = 0; l < 5; l++)
                    {
                        <tr>
                            <td class="align-middle">@CalenderPageModel.Time[l]</td>
                            @for (int i = 0 + l; i < 25; i += 5)
                            {
                                @if (Model.FilteredRooms[j].Bookings[i].Title != " " && Model.FilteredRooms[j].Bookings[i].Title != null)
                                {
                                    <td class="red" onclick="document.getElementById('@j+@i').style.display='block'">
                                        <span>@Model.FilteredRooms[j].Bookings[i].Title</span>
                                        <div class="margin-10px-top font-size14">@Model.FilteredRooms[j].Bookings[i].Description</div>
                                        <div class="font-size13 text-light-gray"></div>
                                    </td>
                                }
                                else
                                {
                                    <td onclick="document.getElementById('@j+@i').style.display='block'">

                                        <span>@Model.FilteredRooms[j].Bookings[i].Title</span>
                                        <div class="margin-10px-top font-size14">@Model.FilteredRooms[j].Bookings[i].Description</div>
                                        <div class="font-size13 text-light-gray"></div>
                                    </td>
                                }
                                <div id="@j+@i" class="modal">
                                    <div class="modal-content">
                                        <div class="">
                                            <span onclick="document.getElementById('@j+@i').style.display='none'" class="btn-close display-topright"></span>
                                            <h2>@Model.FilteredRooms[j].RoomName</h2>
                                            <p>@Model.FilteredRooms[j].Bookings[i].Title</p>
                                            <p>@Model.FilteredRooms[j].Bookings[i].Description</p>
                                            @Model.FilteredRooms[j].Bookings[i].Title
                                            <form method="post">
                                                <input type="text" name="Title" asp-for="Booking.Title" placeholder="Navn" />

                                                <input type="hidden" name="i" value="@i" />
                                                <input type="hidden" name="j" value="@j" />
                                                @* <input type="hidden" name="i" value="@i" /> *@
                                                <input type="submit" value="submit" />
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
}
else if (!Model.Projector || !Model.Whiteboard || Model.Capacity <= 0)
{
@for (int j = 0; j < Model.Rooms.Count; j++)
{
    <h2>fish</h2>
    <h1>@Model.Rooms[j].RoomName</h1>
    <div class="container">

        <div class="table-responsive">
            <table class="table table-bordered text-center">
                <thead>
                    <tr class="bg-light-gray">
                        <th class="text-uppercase">
                            Time
                        </th>
                        <th class="text-uppercase">Monday</th>
                        <th class="text-uppercase">Tuesday</th>
                        <th class="text-uppercase">Wednesday</th>
                        <th class="text-uppercase">Thursday</th>
                        <th class="text-uppercase">Friday</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int l = 0; l < 5; l++)
                    {
                        <tr>
                        <td class="align-middle">@CalenderPageModel.Time[l]</td>
                        @for (int i = 0+l; i < 25; i += 5)
                        {
                                @if (Model.Rooms[j].Bookings[i].Title != " " && Model.Rooms[j].Bookings[i].Title != null)
                            {
                                <td class="red" onclick="document.getElementById('@j+@i').style.display='block'">
                                    <span>@Model.Rooms[j].Bookings[i].Title</span>
                                    <div class="margin-10px-top font-size14">@Model.Rooms[j].Bookings[i].Description</div>
                                    <div class="font-size13 text-light-gray"></div>
                                </td>
                            }
                            else
                            {
                                <td onclick="document.getElementById('@j+@i').style.display='block'">

                                    <span>@Model.Rooms[j].Bookings[i].Title</span>
                                    <div class="margin-10px-top font-size14">@Model.Rooms[j].Bookings[i].Description</div>
                                    <div class="font-size13 text-light-gray"></div>
                                </td>
                            }
                        <div id="@j+@i" class="modal">
                            <div class="modal-content">
                                <div class="">
                                    <span onclick="document.getElementById('@j+@i').style.display='none'" class="btn-close display-topright"></span>
                                    <h2>@Model.Rooms[j].RoomName</h2>
                                    <p>@Model.Rooms[j].Bookings[i].Title</p>
                                    <p>@Model.Rooms[j].Bookings[i].Description</p>
                                    @Model.Rooms[j].Bookings[i].Title
                                    <form method="post" >
                                                <input type="text" name="Title" asp-for="Booking.Title" placeholder="Navn" />
                                            
                                                <input type="hidden" name="i" value="@i" />
                                                <input type="hidden" name="j" value="@j" />
                                                @* <input type="hidden" name="i" value="@i" /> *@
                                                <input type="submit" value="submit" />
                                    </form>

                                </div>
                            </div>
                        </div>
                        }
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
}