@page
@model DSV.Pages.CalenderPageModel
@{
}
@for (int i=0; i<8; i++)
{
	<div width="16%">
		@CalenderPageModel.Time[i]
	</div>
		@CalenderPageModel.Monday[i]
		@CalenderPageModel.Tuesday[i]
		@CalenderPageModel.Wednesday[i]
		@CalenderPageModel.Thursday[i]
		@CalenderPageModel.Friday[i]
}